<main>
  <header>
    <app-header
      [title]="'Estoult.fr - Chat'"
      [description]="'You are ' + chatService.user.username"
    />
    <button (click)="router.navigate(['/home'])">Return home</button>
  </header>
  
  <div class="chat">
    <div class="message-container" #messageContainer>
      <app-chat-message *ngFor="let message of chatMessageService.messages.slice().reverse()"
        [author]="message.author"
        [content]="message.content"
        [timestamp]="message.timestamp"
      />
    </div>
    
    <app-chat-message-input />
  </div>
</main>

<app-side-picture />