:host {
  height: 100%;
  display: flex;
  justify-content: center;
}

:host main {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
}

:host header {
  padding-bottom: 10px;
}

@media (max-width: 1024px) {
  :host header {
    padding-left: 10px;
  }
}

.chat {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  border-radius: 10px 10px 0px 0px;
  background-color: var(--background-2);
}

.message-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
}