:host {
  display: block;
  background-color: var(--background-1);

  display: block;
  margin: 10px;
  border-radius: 10px;
}

.message {
  padding: 10px;
  display: flex;
  flex-direction: row;
  overflow-wrap: anywhere;
}

.message img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.timestamp {
  margin-left: 6px;
  color: var(--sub-text-color);
  font-size: .8em;
}

.author-id {
  all: unset;
  font-size: .7em;
}

.message header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.message aside {
  display: flex;
  flex-direction: column;
  width: 100%;
}