:host {
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  user-select: none;
}

:host  input {
  all: unset;
  flex: 1;
  background-color: var(--background-1);
  color: #ffffff; 
  padding: 8px;
  border-radius: 4px;
  margin-right: 5px;
}


:host button {
  background-color: var(--button-color);
  color: var(--text-color);
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

:host button:hover {
  background-color: var(--button-selected-color);
}

:host button:disabled {
  pointer-events: none;
  background-color: var(--button-disabled-color);
  cursor: not-allowed;
}