server {
    listen 80;
    server_name estoult.fr www.estoult.fr; 

    return 301 https://estoult.fr$request_uri;
}

server {
    listen 443 ssl;
    server_name estoult.fr;

    ssl_certificate /etc/letsencrypt/live/estoult.fr/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/estoult.fr/privkey.pem;

    # Désactivez le renvoi de certains en-têtes qui peuvent révéler des informations sensibles du serveur
    ssl_session_timeout 1d;
    ssl_session_cache shared:SSL:50m;
    ssl_session_tickets off;

    # Configurations de base pour SSL
    add_header Strict-Transport-Security "max-age=15768000; includeSubDomains; preload" always;
    add_header X-Content-Type-Options nosniff;
    add_header X-Frame-Options SAMEORIGIN;
    add_header X-XSS-Protection "1; mode=block";
    # add_header Referrer-Policy "no-referrer-when-downgrade";
    # add_header Content-Security-Policy "default-src 'self'";

    root /build;
    index index.html;

    location /api/chat {
        proxy_pass http://discord_chat:8000;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }


    location / {
        try_files $uri $uri/ /index.html;
    }
}

server {
    listen 443 ssl;
    server_name www.estoult.fr;

    ssl_certificate /etc/letsencrypt/live/www.estoult.fr/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/www.estoult.fr/privkey.pem;

    return 301 https://estoult.fr$request_uri;
}